In [1]:
from pathlib import Path
import pandas as pd
from nvi_survey import create_nvi_survey

filepath = (
    Path.cwd() /
    "output" /
    "nvi_2024_analysis_source_2014_2022_20250624.csv"
)
nvi = create_nvi_survey(filepath)

In [ ]:
nvi.answer_key[
    nvi.answer_key["question_text"].str.contains("resources").fillna(False)
]

C:\Users\mike\AppData\Local\Temp\ipykernel_4132\3353823104.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nvi.answer_key["question_text"].str.contains("Resources").fillna(False)

Empty DataFrame
Columns: [indicator_db_id, indicator_id, indicator_include, group, question, question_text, answer, survey_code, db_question_code, db_answer_code, tabulate, suppress_value, full_column, response_type, universe_query, site_category, included_in_arpa, and_or, start_date, end_date]
Index: []

In [ ]:
# Convert question about resources needed to percentages

nvi.tabulate_question()

In [5]:
nvi.tabulate_single_question('district', 'At_Risk_Losing_Home', question_group='Needs_In_Past_12_Months')

At_Risk_Losing_Home:Needs_In_Past_12_Months,Yes,No,Don't Know,Total Responses
district,,,,
Council District 1,222,409,18,649
Council District 2,223,394,20,637
Council District 3,146,216,14,376
Council District 4,205,323,15,543
Council District 5,228,479,32,739
Council District 6,134,395,31,560
Council District 7,204,315,21,540

In [5]:
nvi.answer_key[nvi.answer_key["answer"].str.lower().str.contains("land contract").fillna(False)]

C:\Users\mike\AppData\Local\Temp\ipykernel_6368\637926669.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nvi.answer_key[nvi.answer_key["answer"].str.lower().str.contains("land contract").fillna(False)]

,indicator_db_id,indicator_id,indicator_include,group,question,question_text,answer,survey_code,db_question_code,db_answer_code,tabulate,suppress_value,full_column,response_type,universe_query,site_category,included_in_arpa,and_or,start_date,end_date
546,<NA>,NaN,False,Own_Or_Rent,Own_Or_Rent,NaN,Own -- with a land contract,3,<NA>,42.0,True,NaN,Own_Or_Rent,SINGLE,@ALL,NaN,False,NaN,NaN,NaN

In [12]:
nvi.tabulate_single_question("citywide", "Own_Or_Rent", "Own_Or_Rent", readable=True).T

citywide                                            Detroit Overall
Own_Or_Rent
Own â€“ outright without a loan/mortgage                       1376
Own â€“ with a mortgage/loan (i.e I have borrow...              852
Own -- with a land contract                                      70
Rent                                                           1132
Neither â€“ I live with my parents, family or f...              234
Neither â€“ I live rent-free with my parents, f...              140
Other                                                            64
I do not currently have permanent housing                        69
Prefer not to say                                               105
Total Responses                                                4042

In [ ]:
nvi.tabulate_single_question("citywide", "Own_Or_Rent", "Own_Or_Rent", readable=True).T