In [11]:
from pathlib import Path
import pandas as pd
from nvi_survey import create_nvi_survey
from nvi_etl.utilities import estimate_median_from_distribution

In [12]:
filepath = (
    Path.cwd() /
    "output" /
    "nvi_2024_analysis_source_2026_2026_20250604.csv"
)
nvi = create_nvi_survey(filepath)

In [13]:
nvi.tabulate_question("Age", "Age", "citywide")

Age,18-24 years old,25-34 years old,35-44 years old,45-54 years old,55-64 years old,65 years or older,Prefer not to answer,Total Responses
citywide,,,,,,,,
Detroit Overall,185,679,702,659,717,969,123,4034

In [15]:
estimate_median_from_distribution([
    ((18, 24), 185),
    ((25, 34), 679),
    ((35, 44), 702),
    ((45, 54), 659),
    ((55, 64), 717),
    ((65, 10000), 969),
])

50.319423368740516

In [21]:
for q in nvi.answer_key["question"].drop_duplicates():
    if 'income' in q.lower():
        print(q)

Annual_Household_Income_From_Own_Business
Household_Annual_Income_Before_Taxes

In [22]:
nvi.tabulate_question("Household_Annual_Income_Before_Taxes", "Household_Annual_Income_Before_Taxes", "citywide")

Household_Annual_Income_Before_Taxes,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 or more",Don't know/Unsure,Prefer not to answer,Total Responses
citywide,,,,,,,,,,,,,,,,,
Detroit Overall,586,279,179,179,145,123,355,234,164,237,285,242,191,281,67,455,4002

In [ ]:
estimate_median_from_distribution([
    ((0, 14999), 586),
    (( 10_000,  14_999), 279),
    (( 15_000,  19_999), 279),
    (( 20_000,  24_999), 279),
    (( 25_000,  29_999), 279),
    (( 30_000,  34_999), 279),
    (( 35_000,  39_999), 279),
    (( 40_000,  44_999), 279),
    (( 45_000,  49_999), 279),
    (( 50_000,  54_999), 279),
    (( 60_000,  59_999), 279),
    (( 75_000,  99_999), 279),
    ((100_000, 124_999), 279),
    ((125_000, 10000000), 279),
])